@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Ysabeau:wght@700&display=swap');

*{  
    /* display: flex; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Ysabeau', sans-serif;
    font-size: 37px;
    /* text-align: center; */
}

body{
    height: 100vh;
    /* background-color: rgb(64, 83, 77); */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 3px solid pink;
}

.container{
    display: flex;
    width: 50%;
    height: 450px;
    /* border: 2px solid red; */
    background-color: darkcyan;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: auto; */
    padding: 70px 50px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}

.row{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    
}

.card-group{
    display: flex;
    /* justify-content: center; */
    padding: 15px 5px;
    justify-content: space-around;
    /* flex-direction: column ; */
}

.cf{
    width: 30%;
    display: block;
    padding: 10px;
    margin: 30px;
    text-align: justify;
}


input{
    /* display: flex; */
    width: 130%;
    height: 80px;
    border-radius: 42px;
    border: 2px solid black;
    outline: none;
    margin-top: 15px;
    padding: 25px 45px;
}

h1{
    margin: 5px 5px;
    /* border: 3px solid bc; */
}

#heading{
    /* border: 2px solid black; */
    text-align: center;
}

